{% extends 'motheo_call_manager/base.html' %}


{% block extra-styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
</style>
{% endblock extra-styles %}

{% block main %}
<div class="jumbotron">
	<div class="row w-100">
    
     </div>
</div>
<div class="row">

<aside class="col-sm-4">
<div class="card">
	<article class="card-group-item">
		
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->
</aside> <!-- col.// -->


<aside class="col-sm-4">

</aside> <!-- col.// -->


{% endblock main %}
